body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BTN {
  background-image: url(https://media.npr.org/assets/img/2022/06/15/gettyimages-1329369484_custom-885a687ec4ed7acfd56a918dbc51f9204cebcf8b-s800-c85.webp);
  border-radius: 50%;
  border: 20cm black;
  background-color: yellowgreen;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 35%;
}

.BTN-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  color: black;
}